body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content-title {
    width: 800px;
    padding: 5px;
    background: #272626;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

#content-body {
    width: 800px;
    background: #cb30f8;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

textarea,input[type="text"],input[type="password"],input[type="email"] {
    width: 300px;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: white;
    background: #272626;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

    textarea,input[type="text"],input[type="password"],input[type="email"]:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 1px #9ecaed;
    }

input[type=button] {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: white;
    background: #272626;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 16.795%; /* auto */
    text-align: center;
}
    input[type=button]:hover {
        background: white;
        color: #272626;
    }

menu {
    width: 100%;
}

menu-item {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 3px 3px;
    background: purple;
    display: block;
    position: relative;
}

    menu-item:hover {
        color: yellow;
        font-size: 20px;
        cursor: pointer;
    }

a:hover {
    font-size: 20px;
    cursor: pointer;
    color: yellow;
}

term {
    color: whitesmoke;
    text-decoration: underline;
}
